<?php
return array(
    // Development time modules
    'modules' => array(
        'ZFTool',
        'ZF\Apigility\Admin',
        'ZF\Apigiltiy\Example',
    ),
    // development time configuration globbing
    'module_listener_options' => array(
        'config_glob_paths' => array('config/autoload/{,*.}{global,local}-development.php')
    )
);